.mega-sena {
  background-color: #83C9A9;
}

.quina {
  background-color: #ABA6C6;
}

.dupla-sena {
    background-color: #BB8490;
}

.lotofacil {
    background-color: #C191BC;
}

.lotomania {
    background-color: #DFAE95;
}


.card {
  width: 20rem;
  min-height: 10rem;
  color: white;
  margin: .8rem .8rem;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  padding: .3rem .5rem;
}

.logo-jogo{
    height: 2.5em;
    padding: .3rem 0;
    margin: .3rem 0;
  }

