.main {
  text-align: center;
  margin: 0;
  padding: 0;
  background-color: rgb(235, 231, 231);
}

.aside {
  background-color: #fefefe;
  height: 100vh;
  width: 20vw;
  position: fixed;
  left: 0;
  top: 0;
}

.list {
  list-style: none;
  padding-inline: 0 0;
  margin-block: 0 0;
}

.list > li {
  padding: .8rem 0;
}

.list > li:hover{
  background-color: #2A6E23;
  color: whitesmoke;
  font-weight: bold;
}
